<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514598555350-8b4hl1ndpg0a8k4ceun0c7o1ciq4hpb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514598555350-8b4hl1ndpg0a8k4ceun0c7o1ciq4hpb0</string>
	<key>API_KEY</key>
	<string>AIzaSyCtoewwFBaAhT1IWtjQ4uqr-triL9XnjGg</string>
	<key>GCM_SENDER_ID</key>
	<string>514598555350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondProjectFireabse</string>
	<key>PROJECT_ID</key>
	<string>fir-project-st81</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-st81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514598555350:ios:963ae91e3aabd9b400c377</string>
</dict>
</plist>